/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  color: #fff;
  min-height: 100%; /* add this line */
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* Inscription info styles */
#inscriptionInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  padding: 32px;
  background-color: #101316;
}

.theimg {
  width: 330px;
  height: 330px;
  margin-right: 32px;
  border-radius: 8px;
  border: 2px solid #313539;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 32px;
}

.topdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
}

.topdiv h2 {
  font-size: 28px;
  margin-bottom: 16px;
}

.address {
  font-size: 14px;
}

.inscription-text {
  color: #bbb;
  font-size: 16px;
  margin: 8px 0;
}

.inscription-span {
  font-weight: bold;
  color: #fff;
}

.inscription-link {
  color: #bbb;
}

.inscription-link:hover {
  color: #fff;
}

.border {
  border-top: 1px solid #333;
  margin: 16px 0;
}

/* ORKAR.IO HOME.CSS */
