.border {
  border: 1px solid black;
}

.inscription-text {
  font-size: 18px;
  font-weight: bold;
}

.inscription-span {
  color:lightgray;
  font-weight: bold;
}

.inscription-link {
  color:lightgray;
  font-weight: bold;
  text-decoration: none;
}

.maindiv {
  width: 670px;
  border: 4px solid #191a1b;
  padding:10px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.topdiv {
  margin-left: 10px;
}

.address {
  font-size: 14px;
  font-weight: bold;
  color: lightgray;
  margin-top: 0px;
}

.theimg {
  width: 338.656px;
  height: 338.656px;
}