.inscription-info {
    display: flex;
  }
  
  .inscription-info img {
    width: 338.656px;
    height: 338.656px;
  }
  
  .inscription-info .address {
    font-size: 14px;
    font-weight: bold;
    color: lightgray;
    margin-top: -20px;
  }
  
  .inscription-info .info-content {
    width: 670px;
    border: 4px solid #191a1b;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
  }
  
  .inscription-info .info-content .inscription-id {
    font-size: 18px;
    font-weight: bold;
  }
  
  .inscription-info .info-content .inscription-id span {
    color: dimgray;
    font-weight: bold;
  }
  
  .inscription-info .info-content .inscription-sat {
    font-size: 18px;
    font-weight: bold;
  }
  
  .inscription-info .info-content .inscription-sat span {
    color: dimgray;
    font-weight: bold;
  }
  
  .inscription-info .info-content .inscription-content-length {
    font-size: 18px;
    font-weight: bold;
  }
  
  .inscription-info .info-content .inscription-content-length span {
    color: dimgray;
    font-weight: bold;
  }
  
  .inscription-info .info-content .inscription-genesis-fee {
    font-size: 18px;
    font-weight: bold;
  }
  
  .inscription-info .info-content .inscription-genesis-fee span {
    color: dimgray;
    font-weight: bold;
  }
  
  .inscription-info .info-content .inscription-genesis-height {
    font-size: 18px;
    font-weight: bold;
  }
  
  .inscription-info .info-content .inscription-genesis-height a {
    color: dimgray;
    font-weight: bold;
    text-decoration: none;
  }
  
  .inscription-info .info-content .inscription-genesis-transaction {
    font-size: 18px;
    font-weight: bold;
  }
  
  .inscription-info .info-content .inscription-genesis-transaction span {
    color: dimgray;
    font-weight: bold;
  }
  
  .inscription-info .info-content .inscription-location {
    font-size: 18px;
    font-weight: bold;
  }
  
  .inscription-info .info-content .inscription-location span {
    color: dimgray;
    font-weight: bold;
  }
  
  .inscription-info .info-content .inscription-offset-label {
    font-size: 18px;
    font-weight: bold;
  }

  .inscription-info .info-content .inscription-offset-label span {
    color: dimgray;
    font-weight: bold;
  }

  .inscription-info .info-content .inscription-output-value-label {
    font-size: 18px;
    font-weight: bold;
  }

  .inscription-info .info-content .inscription-output-value-label span {
    color: dimgray;
    font-weight: bold;
  }

  .inscription-info .info-content .inscription-timestamp-label {
    font-size: 18px;
    font-weight: bold;
  }

  .inscription-info .info-content .inscription-timestamp-label span {
    color: dimgray;
    font-weight: bold;
  }

  .inscription-info .info-content .inscription-hr {
    border: 1px solid black;
  }
  


  
